pkgbase = commet-bin
	pkgdesc = Feature-rich Matrix client focused on privacy and usability
	pkgver = 0.4.0
	pkgrel = 1
	url = https://github.com/commetchat/commet
	arch = x86_64
	license = AGPL-3.0-only
	depends = gtk3
	depends = mpv
	depends = ffmpeg
	optdepends = libappindicator-gtk3: tray icon support on desktops using appindicator
	provides = commet
	conflicts = commet
	source = commet-bin-0.4.0.tar.gz::https://github.com/commetchat/commet/releases/download/v0.4.0/commet-linux-portable-x64.tar.gz
	sha256sums = SKIP

pkgname = commet-bin
